<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hypersmart.usercenter.mapper.GridBasicInfoHistoryMapper">
    <resultMap id="BaseResultMap" type="com.hypersmart.usercenter.model.GridBasicInfoHistory">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="grid_id" jdbcType="VARCHAR" property="gridId" />
        <result column="grid_code" jdbcType="VARCHAR" property="gridCode" />
        <result column="grid_name" jdbcType="VARCHAR" property="gridName" />
        <result column="grid_type" jdbcType="VARCHAR" property="gridType" />
        <result column="grid_range" jdbcType="OTHER" property="gridRange" />
        <result column="grid_remark" jdbcType="VARCHAR" property="gridRemark" />
        <result column="area_id" jdbcType="VARCHAR" property="areaId" />
        <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
        <result column="area_name" jdbcType="VARCHAR" property="areaName" />
        <result column="project_id" jdbcType="VARCHAR" property="projectId" />
        <result column="project_code" jdbcType="VARCHAR" property="projectCode" />
        <result column="project_name" jdbcType="VARCHAR" property="projectName" />
        <result column="massif_id" jdbcType="VARCHAR" property="massifId" />
        <result column="massif_code" jdbcType="VARCHAR" property="massifCode" />
        <result column="massif_name" jdbcType="VARCHAR" property="massifName" />
        <result column="staging_id" jdbcType="VARCHAR" property="stagingId" />
        <result column="staging_code" jdbcType="VARCHAR" property="stagingCode" />
        <result column="staging_name" jdbcType="VARCHAR" property="stagingName" />
        <result column="housekeeper_history_id" jdbcType="VARCHAR" property="housekeeperHistoryId" />
        <result column="format_attribute" jdbcType="VARCHAR" property="formatAttribute" />
        <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="updation_date" jdbcType="TIMESTAMP" property="updationDate" />
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
        <result column="row_time" jdbcType="TIMESTAMP" property="rowTime" />
        <result column="row_version" jdbcType="TIMESTAMP" property="rowVersion" />
        <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
        <result column="enabled_flag" jdbcType="TINYINT" property="enabledFlag" />
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
        <result column="city_id" jdbcType="VARCHAR" property="cityId" />
        <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
        <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    </resultMap>
    <sql id="BaseTable">
    grid_basic_info_history
    </sql>
    <!--<sql id="BaseColumns">-->
    <!--</sql>-->
    <!--<sql id="GenerationType">-->
    <!--DB_UUID ( select replace(uuid(),'-','') from dual )-->
    <!--</sql>-->
    <select id="queryList" resultType="com.hypersmart.usercenter.dto.GridBasicInfoHistoryDTO" >
        select * from (
        SELECT
        a.id as id,
        a.grid_id as gridId,
        a.grid_code as gridCode,
        a.grid_name as gridName,
        a.grid_type as gridType,
        a.grid_range as gridRange,
        a.grid_remark as gridRemark,
        a.area_id as areaId,
        a.area_code as areaCode,
        a.area_name as areaName,
        a.project_id as projectId,
        a.project_code as projectCode,
        a.project_name as projectName,
        a.massif_id as massifId,
        a.massif_code as massifCode,
        a.massif_name as massifName,
        a.staging_id as stagingId,
        a.staging_code as staging,
        a.staging_name as stagingName,
        a.housekeeper_history_id as housekeeperHistoryId,
        a.format_attribute as formatAttribute,
        a.creation_date as creationDate,
        a.created_by as createdBy,
        a.updation_date as updationDate,
        a.updated_by as updatedBy,
        a.enabled_flag as enabledFlag,
        a.is_deleted as isDeleted,
        a.city_id as cityId,
        a.city_code as cityCode,
        a.city_name as cityName,
        b.grid_change_type as gridChangeType,
        c.user_name as housekeeperName,
        d.FULLNAME_  as updatedByName
        FROM
        grid_basic_info_history a
        left join grid_history_change_type_ref b
        on a.id = b.grid_history_id
        left join housekeeper_history c
        on c.id = a.housekeeper_history_id
        left join uc_user d
        on  d.ID_ = a.updated_by
        ) as t
        <where>
            <if test="whereSql!=null">
                ${whereSql}
            </if>
        </where>
        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
    </select>
</mapper>