<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hypersmart.usercenter.mapper.GridBasicInfoMapper">
    <resultMap id="DtoResultMap" type="com.hypersmart.usercenter.dto.GridBasicInfoDTO">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="grid_code" jdbcType="VARCHAR" property="gridCode" />
        <result column="grid_name" jdbcType="VARCHAR" property="gridName" />
        <result column="grid_type" jdbcType="VARCHAR" property="gridType" />
        <result column="grid_range" jdbcType="VARCHAR" property="gridRange" />
        <result column="grid_remark" jdbcType="VARCHAR" property="gridRemark" />
        <result column="area_id" jdbcType="VARCHAR" property="areaId" />
        <result column="city_id" jdbcType="VARCHAR" property="cityId" />
        <result column="project_id" jdbcType="VARCHAR" property="projectId" />
        <result column="massif_id" jdbcType="VARCHAR" property="massifId" />
        <result column="staging_id" jdbcType="VARCHAR" property="stagingId" />
        <result column="housekeeper_id" jdbcType="VARCHAR" property="housekeeperId" />
        <result column="update_times" jdbcType="VARCHAR" property="updateTimes" />
        <result column="format_attribute" jdbcType="VARCHAR" property="formatAttribute" />
        <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="enabled_flag" jdbcType="TINYINT" property="enabledFlag" />
    </resultMap>

    <resultMap id="SimpleDTOMap" type="com.hypersmart.usercenter.dto.GridBasicInfoSimpleDTO">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="grid_name" jdbcType="VARCHAR" property="gridName" />
        <result column="staging_id" jdbcType="VARCHAR" property="stagingId" />
        <result column="housekeeper_id" jdbcType="VARCHAR" property="housekeeperId" />
    </resultMap>
    <sql id="BaseTable">
    grid_basic_info
    </sql>

    <select id="getGridBasicInfoByHouseKeeperIds" resultMap="SimpleDTOMap" >
        SELECT
        a.id,
        a.grid_name,
        a.staging_id,
        a.housekeeper_id
        FROM
        grid_basic_info a
        where
        a.is_deleted = 0
        and a.enabled_flag = 1
        and
        <foreach collection="houseKeeperBO" index="index" item="houseKeeper" open="(" separator="or" close=")">
            (a.housekeeper_id =#{houseKeeper.houseKeeperId} and a.staging_id = #{houseKeeper.divideId})
        </foreach>
        order by a.creation_date desc
    </select>

    <select id="quertList" parameterType="java.util.Map" resultType="java.util.Map">
        select * from (
        select g.id as id,
        g.grid_range as gridRange,
        g.grid_name as gridName,
        g.grid_type as gridType,
        g.grid_code as gridCode,
        g.grid_remark as gridRemark,
        g.area_id as areaId,
        g.project_id as projectId,
        g.city_id as cityId,
        g.massif_id as massifId,
        g.staging_id as stagingId,
        g.staging_id as divideId,
        g.housekeeper_id as housekeeperId,
        g.format_attribute as formatAttribute,
        concat('',g.enabled_flag,'') as enabledFlag,
        g.is_deleted as isDeleted,
        g.creation_date as creationDate,
        (select org.NAME_ from uc_org org where ID_ = g.area_id) as areaName,
        (select org.NAME_ from uc_org org where ID_ = g.project_id) as projectName,
        (select org.NAME_ from uc_org org where ID_ = g.city_id) as cityName,
        (select org.NAME_ from uc_org org where ID_ = g.massif_id) as massifName,
        (select org.NAME_ from uc_org org where ID_ = g.staging_id) as stagingName,
        k.fullName as housekeeperName
        from grid_basic_info g LEFT JOIN (SELECT
        u.ID_ AS houseKeeperId,
        uou.ID_ AS id,
        u.FULLNAME_ AS fullName,
        u.MOBILE_ AS mobile,
        u.ACCOUNT_ AS account,
        post.ID_ AS `postId`,
        post.POS_NAME_ AS posName,
        org.NAME_ AS divideName,
        org.ID_ AS divideId
        FROM
        uc_user u
        JOIN uc_org_user uou ON u.ID_ = uou.USER_ID_
        JOIN uc_org org ON uou.ORG_ID_ = org.ID_
        JOIN uc_org_post post ON uou.POS_ID_ = post.ID_
        JOIN uc_org_job uoj ON post.JOB_ID_ = uoj.ID_
        JOIN uc_demension dem ON org.DEM_ID_ = dem.ID_
        WHERE
        uoj.CODE_ = 'guanjia'
        AND dem.CODE_ = 'smsf'
        AND org.LEVEL_ = 5) as k on g.staging_id = k.divideId and g.housekeeper_id = k.houseKeeperId) as t
        <where>
            <if test="whereSql!=null">
                ${whereSql}
            </if>
        </where>
        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
    </select>

    <select id="getGridById" parameterType="java.lang.String" resultType="java.util.Map">
        select * from (
        select g.id as id,
        g.grid_range as gridRange,
        g.grid_name as gridName,
        g.grid_type as gridType,
        g.grid_code as gridCode,
        g.grid_remark as gridRemark,
        g.area_id as areaId,
        g.project_id as projectId,
        g.city_id as cityId,
        g.massif_id as massifId,
        g.staging_id as stagingId,
        g.staging_id as divideId,
        g.housekeeper_id as housekeeperId,
        g.format_attribute as formatAttribute,
        concat('',g.enabled_flag,'') as enabledFlag,
        (select org.NAME_ from uc_org org where ID_ = g.area_id) as areaName,
        (select org.NAME_ from uc_org org where ID_ = g.project_id) as projectName,
        (select org.NAME_ from uc_org org where ID_ = g.city_id) as cityName,
        (select org.NAME_ from uc_org org where ID_ = g.massif_id) as massifName,
        (select org.NAME_ from uc_org org where ID_ = g.staging_id) as stagingName,
        k.fullName as housekeeperName
        from grid_basic_info g LEFT JOIN (SELECT
        u.ID_ AS houseKeeperId,
        uou.ID_ AS id,
        u.FULLNAME_ AS fullName,
        u.MOBILE_ AS mobile,
        u.ACCOUNT_ AS account,
        post.ID_ AS `postId`,
        post.POS_NAME_ AS posName,
        org.NAME_ AS divideName,
        org.ID_ AS divideId
        FROM
        uc_user u
        JOIN uc_org_user uou ON u.ID_ = uou.USER_ID_
        JOIN uc_org org ON uou.ORG_ID_ = org.ID_
        JOIN uc_org_post post ON uou.POS_ID_ = post.ID_
        JOIN uc_org_job uoj ON post.JOB_ID_ = uoj.ID_
        JOIN uc_demension dem ON org.DEM_ID_ = dem.ID_
        WHERE
        uoj.CODE_ = 'guanjia'
        AND dem.CODE_ = 'smsf'
        AND org.LEVEL_ = 5) as k on g.staging_id = k.divideId and g.housekeeper_id = k.houseKeeperId) as t
        where id = #{id}
    </select>

    <update id="disableGridInfo" parameterType="com.hypersmart.usercenter.bo.GridBasicInfoBO">
        update grid_basic_info
        set enabled_flag = 0, grid_range = null, update_times = update_times + 1, updated_by = #{updatedBy}
        where id in
        <foreach collection="ids" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <update id="deleteGridInfo" parameterType="com.hypersmart.usercenter.bo.GridBasicInfoBO">
        update grid_basic_info
        set is_deleted = 1, grid_range = null, update_times = update_times + 1, updated_by = #{updatedBy}
        where id in
        <foreach collection="ids" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

</mapper>