<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hypersmart.usercenter.mapper.GridRangeMapper">

    <delete id="deleteRangeByGridId" parameterType="java.lang.String">
        delete from grid_range where grid_id = #{gridId}
    </delete>

    <select id="getRange" parameterType="com.hypersmart.usercenter.bo.GridRangeBO" resultType="com.hypersmart.usercenter.model.GridRange">
        select
        a.range_type as rangeType,a.resource_id as resourceId
        from grid_range a
        inner join grid_basic_info b
        on a.grid_id = b.id
        where b.staging_id = #{stagingId}
        <if test="gridId!=null and gridId !=''">
            and a.grid_id != #{gridId}
        </if>
    </select>

</mapper>