<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hypersmart.usercenter.mapper.UcOrgUserMapper">

    <resultMap id="UcOrgUser" type="com.hypersmart.usercenter.model.UcOrgUser">
        <id jdbcType="VARCHAR" property="id" column="ID_"></id>
        <result column="ORG_ID_" jdbcType="VARCHAR" property="orgId"></result>
        <result column="USER_ID_" jdbcType="VARCHAR" property="userId"></result>
    </resultMap>

    <resultMap id="DivideId" type="com.hypersmart.usercenter.model.UcOrg">

        <id jdbcType="VARCHAR" property="id" column="ID_"></id>
        <result column="NAME_" jdbcType="VARCHAR" property="name"></result>
        <result column="PARENT_ID_" jdbcType="VARCHAR" property="parentId"></result>
        <result column="ORDER_NO_" jdbcType="VARCHAR" property="orderNo"></result>
        <result column="CODE_" jdbcType="VARCHAR" property="code"></result>
        <result column="GRADE_" jdbcType="VARCHAR" property="grade"></result>
        <result column="PATH_" jdbcType="VARCHAR" property="path"></result>
        <result column="PATH_NAME_" jdbcType="VARCHAR" property="pathName"></result>
        <result column="DEM_ID_" jdbcType="VARCHAR" property="demId"></result>
        <result column="pathName" jdbcType="VARCHAR" property="pathName"></result>
        <result column="UPDATE_TIME_" jdbcType="VARCHAR" property="updateTime"></result>
        <result column="IS_DELE_" jdbcType="VARCHAR" property="isDele"></result>
        <result column="VERSION_" jdbcType="VARCHAR" property="version"></result>
        <result column="LEVEL_" jdbcType="VARCHAR" property="level"></result>

    </resultMap>

    <resultMap id="hours" type="com.hypersmart.usercenter.model.House">
        <id jdbcType="VARCHAR" property="id" column="id"></id>
        <result column="sf_guid" jdbcType="VARCHAR" property="sfGuid"></result>
        <result column="sap_id" jdbcType="VARCHAR" property="sapId"></result>
        <result column="wbs_code" jdbcType="VARCHAR" property="wbsCode"></result>
        <result column="house_code" jdbcType="VARCHAR" property="houseCode"></result>
        <result column="house_inner_name" jdbcType="VARCHAR" property="houseInnerName"></result>
        <result column="is_invented" jdbcType="VARCHAR" property="isInvented"></result>
        <result column="floor" jdbcType="VARCHAR" property="floor"></result>
        <result column="house_state" jdbcType="VARCHAR" property="houseState"></result>
        <result column="property_type" jdbcType="VARCHAR" property="propertyType"></result>
        <result column="actual_address" jdbcType="VARCHAR" property="actualAddress"></result>
        <result column="measured_area" jdbcType="VARCHAR" property="measuredArea"></result>
        <result column="predicted_area" jdbcType="VARCHAR" property="predictedArea"></result>
        <result column="building_area" jdbcType="VARCHAR" property="buildingArea"></result>
        <result column="fee_area" jdbcType="VARCHAR" property="feeArea"></result>
        <result column="used_area" jdbcType="VARCHAR" property="usedArea"></result>
        <result column="total_arrearage" jdbcType="VARCHAR" property="totalArrearage"></result>
        <result column="start_date" jdbcType="VARCHAR" property="startDate"></result>
        <result column="restore_original_date" jdbcType="VARCHAR" property="restoreOriginalDate"></result>
        <result column="remark" jdbcType="VARCHAR" property="remark"></result>
        <result column="reason" jdbcType="VARCHAR" property="reason"></result>
        <result column="unit_id" jdbcType="VARCHAR" property="unitId"></result>
        <result column="unit_code" jdbcType="VARCHAR" property="unitCode"></result>
        <result column="building_id" jdbcType="VARCHAR" property="buildingId"></result>
        <result column="divide_id" jdbcType="VARCHAR" property="divideId"></result>
        <result column="project_id" jdbcType="VARCHAR" property="projectId"></result>
        <result column="building_name" jdbcType="VARCHAR" property="buildingName"></result>
        <result column="divide_name" jdbcType="VARCHAR" property="divideName"></result>
        <result column="project_name" jdbcType="VARCHAR" property="projectName"></result>
        <result column="contract_id" jdbcType="VARCHAR" property="contractId"></result>
        <result column="contract_flag" jdbcType="VARCHAR" property="contractFlag"></result>
        <result column="corp_id" jdbcType="VARCHAR" property="corpId"></result>
        <result column="creation_date" jdbcType="VARCHAR" property="creationDate"></result>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"></result>
        <result column="updation_date" jdbcType="VARCHAR" property="updationDate"></result>
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy"></result>
        <result column="row_version" jdbcType="VARCHAR" property="rowVersion"></result>
        <result column="updation_date" jdbcType="VARCHAR" property="updationDate"></result>
        <result column="is_deleted" jdbcType="VARCHAR" property="isDeleted"></result>
        <result column="enabled_flag" jdbcType="VARCHAR" property="enabledFlag"></result>
        <result column="divide_code" jdbcType="VARCHAR" property="divideCode"></result>
        <result column="plat_divide_id" jdbcType="VARCHAR" property="platDivideId"></result>
        <result column="plat_divide_name" jdbcType="VARCHAR" property="platDivideName"></result>
        <result column="project_code" jdbcType="VARCHAR" property="projectCode"></result>
        <result column="plat_project_id" jdbcType="VARCHAR" property="platProjectId"></result>
        <result column="plat_project_name" jdbcType="VARCHAR" property="platProjectName"></result>

    </resultMap>


    <sql id="BaseAttribute">
        ID_,ORG_ID_,USER_ID_
    </sql>
    <sql id="BaseTable">
        uc_org_user
    </sql>

    <select id="getUserOrg" resultMap="UcOrgUser">
        select
        <include refid="BaseAttribute"/>
        from
        <include refid="BaseTable"/>
        where USER_ID_ = #{userId}
        and  IS_DELE_ = 0
    </select>

    <!--<select id="getUserIdOrgByOrgIds" resultMap="java.lang.String">-->
        <!--select-->
        <!--ID_-->
        <!--from-->
        <!--<include refid="BaseTable"/>-->
        <!--where IS_DELE_ = 0 AND ORG_ID_  in  #{userId}-->
        <!--<foreach collection="list" index="index" item="item" open="(" separator="," close=")">-->
                <!--#{item}-->
        <!--</foreach>-->
    <!--</select>-->

    <select id="getPostIdByjobCode" resultType="java.lang.String">
        select p.ID_
        from uc_org_post p
        join  uc_org_job j on p.JOB_ID_ = j.ID_
        where j.CODE_ = #{code}
    </select>

    <!--查询用户默认维度组织-->
    <select id="getUserDefaultOrg" resultMap="UcOrgUser">
         select
        u.ID_, u.ORG_ID_,u.USER_ID_
        from uc_org_user u
        INNER JOIN  uc_org o on u.ORG_ID_=o.ID_
				INNER JOIN uc_demension d on d.ID_=o.DEM_ID_
        where u.USER_ID_ =#{userId} and d.IS_DEFAULT_=1
        and  u.IS_DELE_ !=1 and o.IS_DELE_ !=1 and d.IS_DELE_!=1
    </select>

    <!--查询用户非默认维度组织且层级为地块，项目的关联默认组织-->
    <select id="getUserDefaultOrgByRef" resultMap="UcOrgUser">
      select distinct
        o.REF_ID_ as ORG_ID_ ,u.USER_ID_
        from uc_org_user u
        INNER JOIN  uc_org o on u.ORG_ID_=o.ID_
				INNER JOIN uc_demension d on d.ID_=o.DEM_ID_
        where u.USER_ID_ =#{userId} and d.IS_DEFAULT_!=1 and (o.GRADE_='LINE_DIKUAI' || o.GRADE_='LINE_PROJECT' )
        and  u.IS_DELE_ !=1 and o.IS_DELE_ !=1 and d.IS_DELE_!=1

    </select>

    <select id="getOrgByCondition" resultType="java.util.Map">
        select * from uc_org
        <where>
            IS_DELE_='0' and PATH_ LIKE CONCAT('%', #{sy}, '%')
            <if test="whereSql">
                and ${whereSql}
            </if>
            <if test="orderSql">
                order by ${orderSql}
            </if>
        </where>
    </select>

    <select id="getListByOrgIdUserId" resultType="com.hypersmart.usercenter.model.UcOrgUser">
        select 	ID_ as id, ORG_ID_ as orgId, USER_ID_ as userId, IS_MASTER_ as isMaster, POS_ID_ as posId,
        IS_CHARGE_ as isCharge, START_DATE_ as startDate, END_DATE_ as endDate,
        IS_REL_ACTIVE_ as isRelActive, UPDATE_TIME_ as updateTime, IS_DELE_, VERSION_ as version
        from uc_org_user
        <where>
            IS_DELE_='0'
            <if test="orgId!=null and orgId!=''">
                AND ORG_ID_=#{orgId}
            </if>
            <if test="userId!=null and userId!=''">
                and USER_ID_=#{userId}
            </if>
        </where>
    </select>


    <select id="findDivide" resultMap="DivideId">

        select a.* from uc_org a where PARENT_ID_ in (
        select id_ from  uc_org b
        <where>
            and b.IS_DELE_=0
            <if test="whereSql!=null">
                ${whereSql}
            </if>
        </where>
        )
        and a.IS_DELE_=0
    </select>

    <select id="findHous" resultMap="hours">
         select * from  <![CDATA[ `resource-center`.house_bak ]]>
        <where>
            <if test="whereSql!=null">
                ${whereSql}
            </if>
        </where>
    </select>

</mapper>
