<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hypersmart.usercenter.mapper.UcOrgPostMapper">
    <select id="getJobPage" resultType="java.util.Map">
        select distinct t1.ID_ id ,t1.name_ name,t1.CODE_ code from uc_org_job t1
        join uc_org_post t2  on  t1.ID_=t2.JOB_ID_
        <where>
            t1.IS_DELE_='0' and t2.IS_DELE_='0'
            <if test="whereSql">
               and ${whereSql}
            </if>
            <if test="orderSql">
                order by ${orderSql}
            </if>
        </where>
    </select>

    <select id="getByOrgIdAndJobId" resultType="com.hypersmart.usercenter.model.UcOrgPost">
        select p.ID_ AS id, p.ORG_ID_ AS orgId,
        p.JOB_ID_ AS jobId, p.POS_NAME_ AS posName, p.CODE_ AS code, p.IS_CHARGE_ AS isCharge,
        p.UPDATE_TIME_ AS updateTime, p.IS_DELE_ AS isDele, p.VERSION_ AS version, p.POST_KEY_ AS postKey
        from uc_org_post p
        <where>
            p.IS_DELE_='0'
            <if test="orgId!=null and orgId!=''">
                AND p.ORG_ID_=#{orgId}
            </if>
            <if test="jobId!=null and jobId!=''">
                AND p.JOB_ID_=#{jobId}
            </if>
        </where>
    </select>

    <select id="getPostCodeLookLikeCount" resultType="java.lang.Integer">
        select count(p.ID_)
        from uc_org_post p
        <where>
            <if test="postCode!=null and postCode!=''">
                p.CODE_ LIKE CONCAT('%',#{postCode},'%')
            </if>
        </where>
    </select>

    <select id="getPostNameByUserIds" resultType="com.hypersmart.usercenter.dto.UserPostDTO">
        select
        t.userId as userId,
        uop.POS_NAME_ as postName
        from
        (select
        uou.USER_ID_ as userId,
        uou.POS_ID_ as postId
        from uc_org_user uou
        where
        uou.USER_ID_ in
        <foreach collection="userIds" index="index" item="userId" open="(" separator="," close=")">
             #{userId}
        </foreach>
        ) as t left join uc_org_post uop
        on t.postId = uop.ID_
    </select>
</mapper>