<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hypersmart.usercenter.mapper.UcOrgMapper">

    <resultMap id="UcOrg" type="com.hypersmart.usercenter.model.UcOrg">
        <id jdbcType="VARCHAR" property="id" column="ID_"></id>
        <result column="NAME_" jdbcType="VARCHAR" property="name"></result>
        <result column="PARENT_ID_" jdbcType="VARCHAR" property="parentId"></result>
        <result column="PATH_" jdbcType="VARCHAR" property="path"></result>
    </resultMap>
    <resultMap id="OrgFullMap" type="com.hypersmart.usercenter.model.UcOrg">
        <id property="id" column="ID_" jdbcType="VARCHAR"/>
        <result property="name" column="NAME_" jdbcType="VARCHAR"/>
        <result property="parentId" column="PARENT_ID_" jdbcType="VARCHAR"/>
        <result property="orderNo" column="ORDER_NO_" jdbcType="NUMERIC"/>
        <result property="code" column="CODE_" jdbcType="VARCHAR"/>
        <result property="grade" column="GRADE_" jdbcType="VARCHAR"/>
        <result property="demId" column="DEM_ID_" jdbcType="VARCHAR"/>
        <result property="path" column="PATH_" jdbcType="VARCHAR"/>
        <result property="pathName" column="PATH_NAME_" jdbcType="VARCHAR"/>
        <result property="updateTime" column="UPDATE_TIME_" jdbcType="TIMESTAMP"/>
        <result property="isDele" column="IS_DELE_" jdbcType="VARCHAR"/>
        <result property="version" column="VERSION_" jdbcType="NUMERIC"/>
        <result property="level" column="LEVEL_" jdbcType="TINYINT"/>
        <result property="refId" column="REF_ID_" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="OrgExtMap" extends="OrgFullMap" type="com.hypersmart.usercenter.dto.UcOrgExtend">
        <result property="dimCode" column="DEM_CODE_" jdbcType="VARCHAR"/>
        <result property="dimName" column="DEM_NAME_" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="BaseAttribute">
        ID_,NAME_,PARENT_ID_,PATH_
    </sql>
    <sql id="BaseTable">
        (select uc_org.* from uc_org INNER JOIN uc_org_params uop on uc_org.ID_ = uop.ORG_ID_ and uop.code_ = 'is_delivery' and uop.is_dele_ = 0 and (uop.value_ = 1 or uop.value_  is null) ) uc_org
    </sql>

    <select id="getOrgList" resultMap="UcOrg">
        select
        <include refid="BaseAttribute"/>
        from
        <include refid="BaseTable"/>
        where ID_ in
        <foreach collection="orgUserList" item="item" open="(" close=")" separator=",">
            #{item.orgId}
        </foreach>
    </select>

    <select id="getChildrenOrg" resultMap="UcOrg">
        select
        <include refid="BaseAttribute"/>
        from
        <include refid="BaseTable"/>
        where PATH_ like concat(#{path},"%")
    </select>

    <select id="queryByDemId" resultMap="UcOrg">
        select ID_,NAME_,PARENT_ID_,PATH_,REF_ID_
        from
        <include refid="BaseTable"/>
        where DEM_ID_ = #{demId} and IS_DELE_='0'
    </select>

    <select id="getAllDimOrgListByOrg" parameterType="com.hypersmart.usercenter.bo.UcOrgBO" resultMap="OrgExtMap">
        select uc_org.* ,d.CODE_ as DEM_CODE_ ,d.DEM_NAME_ as DEM_NAME_
        from
        <include refid="BaseTable"/>
        LEFT JOIN  uc_demension d on uc_org.DEM_ID_ = d.ID_
        where uc_org.IS_DELE_!=1  AND
        <choose>
            <when test="orgIdList!=null and orgIdList.size > 0">
                (
                uc_org.ID_ in
                <foreach collection="orgIdList" item="iOrgId" open="(" separator="," close=")">
                    #{iOrgId}
                </foreach>
                or uc_org.REF_ID_ in
                <foreach collection="orgIdList" item="iOrgId" open="(" separator="," close=")">
                    #{iOrgId}
                </foreach>
                )
            </when>
            <otherwise>
                ( uc_org.ID_ =#{orgId} OR uc_org.REF_ID_=#{orgId} )
            </otherwise>
        </choose>
        <if test="dimCode!=null">
            and d.CODE_ = #{dimCode}
        </if>
        <if test="dimId!=null">
            and d.id_ = #{dimId}
        </if>
    </select>

    <select id="getByIdsAndParentId" resultType="com.hypersmart.usercenter.dto.UcOrgDTO">
        select
        ID_ as id,
        NAME_ as name,
        PARENT_ID_ as parentId,
        ORDER_NO_ as orderNo,
        CODE_ as code,
        GRADE_ as grade,
        DEM_ID_ as dem_id,
        PATH_ as path,
        PATH_NAME_ as pathName,
        UPDATE_TIME_ as updateTime,
        IS_DELE_ as isDele,
        VERSION_ as version,
        LEVEL_ as level,
        REF_ID_ as refId,
        REF_CODE_ as refCode,
        (select CODE_ from uc_org where ID_ = parentId) as parentCode
        from
        <include refid="BaseTable"/>
        where ID_ in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        and IS_DELE_ != 1
        and PARENT_ID_ = #{parentId}
    </select>

    <select id="getCodeById" resultType="java.lang.String">
        select
        CODE_
        from
        <include refid="BaseTable"/>
        where ID_ = #{orgId}
    </select>

    <select id="getChildrenOrgByCondition" resultMap="UcOrg">
        select
        <include refid="BaseAttribute"/>
        from
        <include refid="BaseTable"/>
        where PATH_ like concat(#{path},"%")
        and ID_ in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        <if test="grade!=null">
            and GRADE_ = #{grade}
        </if>
    </select>
    <select id="getByOrgName" resultType="com.hypersmart.usercenter.model.UcOrg">
        select
        ID_ as id,
        NAME_ as name,
        PARENT_ID_ as parentId,
        ORDER_NO_ as orderNo,
        CODE_ as code,
        GRADE_ as grade,
        DEM_ID_ as demId,
        PATH_ as path,
        PATH_NAME_ as pathName,
        UPDATE_TIME_ as updateTime,
        IS_DELE_ as isDele,
        VERSION_ as version,
        LEVEL_ as level,
        REF_ID_ as refId
        from uc_org
        INNER JOIN (select ORG_ID_ as UOP_ORG_ID_ from uc_org_params where code_ = 'is_delivery' and is_dele_ = 0 and (value_ = 1 or value_ is null)) uop on uc_org.ID_ = uop.UOP_ORG_ID_
        <where>
            IS_DELE_ = '0'
            <if test="orgName!=null and orgName!=''">
                AND NAME_=#{orgName}
            </if>
            <if test="parentId!=null and parentId!=''">
                AND (PARENT_ID_='0' or PARENT_ID_=#{parentId})
            </if>
        </where>
    </select>

    <select id="getByOrgNameParentId" resultType="com.hypersmart.usercenter.model.UcOrg">
        select
        ID_ as id,
        NAME_ as name,
        PARENT_ID_ as parentId,
        ORDER_NO_ as orderNo,
        CODE_ as code,
        GRADE_ as grade,
        DEM_ID_ as demId,
        PATH_ as path,
        PATH_NAME_ as pathName,
        UPDATE_TIME_ as updateTime,
        IS_DELE_ as isDele,
        VERSION_ as version,
        LEVEL_ as level,
        REF_ID_ as refId
        from uc_org
        INNER JOIN (select ORG_ID_ as UOP_ORG_ID_ from uc_org_params where code_ = 'is_delivery' and is_dele_ = 0 and (value_ = 1 or value_ is null)) uop on uc_org.ID_ = uop.UOP_ORG_ID_
        <where>
            IS_DELE_ = '0'
            <if test="orgName!=null and orgName!=''">
                AND NAME_=#{orgName}
            </if>
            <if test="parentId!=null and parentId!=''">
                AND PARENT_ID_=#{parentId}
            </if>
        </where>
    </select>

    <select id="getAllOrgs" resultMap="OrgFullMap">
        select
        *
        from
        <include refid="BaseTable"/>
        where IS_DELE_ = '0'
    </select>
    <select id="getAllOrgsAll" resultMap="OrgFullMap">
        select
        *
        from
        uc_org
        where IS_DELE_ = '0'
    </select>


    <select id="getOrgByCondition" resultType="com.hypersmart.usercenter.model.UcOrg">
        select
        ID_ as id,
        NAME_ as name,
        PARENT_ID_ as parentId,
        ORDER_NO_ as orderNo,
        CODE_ as code,
        GRADE_ as grade,
        DEM_ID_ as demId,
        PATH_ as path,
        PATH_NAME_ as pathName,
        UPDATE_TIME_ as updateTime,
        IS_DELE_ as isDele,
        VERSION_ as version,
        LEVEL_ as level,
        REF_ID_ as refId
        from uc_org
        INNER JOIN (select ORG_ID_ as UOP_ORG_ID_ from uc_org_params where code_ = 'is_delivery' and is_dele_ = 0 and (value_ = 1 or value_ is null)) uop on uc_org.ID_ = uop.UOP_ORG_ID_
        <where>
            IS_DELE_ = '0' and  locate('测试',NAME_)=0
            <if test="grade!=null and grade!=''">
                AND GRADE_=#{grade}
            </if>
        </where>
    </select>
    <select id="getAllOrgsByUserId" resultType="com.hypersmart.usercenter.model.UcOrg">
        SELECT
        o.ID_ as id,
        o.NAME_ AS name,
        o.PARENT_ID_ AS parentId,
        o.ORDER_NO_  AS orderNo,
        o.CODE_ AS code,
        o.GRADE_ AS grade,
        o.PATH_ AS path,
        o.PATH_NAME_ AS pathName,
        o.DEM_ID_ AS demId,
        o.UPDATE_TIME_ AS updateTime,
        o.IS_DELE_ AS isDele,
        o.VERSION_ AS version
        from uc_org_user u
        LEFT JOIN (select uc_org.* from uc_org INNER JOIN uc_org_params uop on uc_org.ID_ = uop.ORG_ID_ and uop.code_ = 'is_delivery' and uop.is_dele_ = 0 and (uop.value_ = 1 or uop.value_  is null) ) o on o.ID_ = u.ORG_ID_
        where u.IS_DELE_ = 0  and o.IS_DELE_=0
        and (o.GRADE_ = 'ORG_ZongBu' or o.GRADE_ = 'ORG_QuYu' or o.GRADE_ = 'ORG_ChengQu' or o.GRADE_ = 'ORG_XiangMu' or o.GRADE_ = 'ORG_DiKuai')
        and u.USER_ID_ = #{userId}
    </select>
</mapper>
