<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hypersmart.usercenter.mapper.UcOrgParamsMapper">
<select id="selectByOrgId" resultType="com.hypersmart.usercenter.model.UcOrgParams">
    select ID_ as id,
    CODE_ as code,
    VALUE_ as `value`
    FROM uc_org_params
    where ORG_ID_ = #{orgId} AND IS_DELE_ = 0;
</select>
</mapper>