<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hypersmart.usercenter.mapper.UcOrgUserMapper">

    <resultMap id="UcOrgUser" type="com.hypersmart.usercenter.model.UcOrgUser">
        <id jdbcType="VARCHAR" property="id" column="ID_"></id>
        <result column="ORG_ID_" jdbcType="VARCHAR" property="orgId"></result>
        <result column="USER_ID_" jdbcType="VARCHAR" property="userId"></result>
    </resultMap>

    <resultMap id="DivideId" type="com.hypersmart.usercenter.model.Divide">
        <id jdbcType="VARCHAR" property="id" column="id"></id>
        <result column="sf_guid" jdbcType="VARCHAR" property="sfGuid"></result>
        <result column="divide_name" jdbcType="VARCHAR" property="divideName"></result>
        <result column="divide_code" jdbcType="VARCHAR" property="divideCode"></result>

        <result column="wbs_code" jdbcType="VARCHAR" property="wbsCode"></result>
        <result column="detail_address" jdbcType="VARCHAR" property="detailAddress"></result>
        <result column="building_area" jdbcType="VARCHAR" property="buildingArea"></result>
        <result column="invoice_amount" jdbcType="VARCHAR" property="invoiceAmount"></result>
        <result column="fee_area" jdbcType="VARCHAR" property="feeArea"></result>
        <result column="manage_area" jdbcType="VARCHAR" property="manageArea"></result>
        <result column="house_count" jdbcType="VARCHAR" property="houseCount"></result>
        <result column="parking_fixed_count" jdbcType="VARCHAR" property="parkingFixedCount"></result>
        <result column="parking_temporary_count" jdbcType="VARCHAR" property="parkingTemporaryCount"></result>
        <result column="green_rate" jdbcType="VARCHAR" property="greenRate"></result>
        <result column="volume_ratio" jdbcType="VARCHAR" property="volumeRatio"></result>
        <result column="completion_date" jdbcType="VARCHAR" property="completionDate"></result>
        <result column="zip_code" jdbcType="VARCHAR" property="zipCode"></result>
        <result column="supervisor_unit" jdbcType="VARCHAR" property="supervisorUnit"></result>
        <result column="developer_unit" jdbcType="VARCHAR" property="developersId"></result>

        <result column="owners_committee_state" jdbcType="VARCHAR" property="ownersCommitteeState"></result>

        <result column="design_unit" jdbcType="VARCHAR" property="designUnit"></result>
        <result column="lift_count" jdbcType="VARCHAR" property="liftCount"></result>
        <result column="aircondition_count" jdbcType="VARCHAR" property="airconditionCount"></result>
        <result column="leave_time" jdbcType="VARCHAR" property="leaveTime"></result>
        <result column="project_id" jdbcType="VARCHAR" property="projectId"></result>
        <result column="project_name" jdbcType="VARCHAR" property="projectName"></result>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"></result>
        <result column="branch_company_id" jdbcType="VARCHAR" property="branchCompanyId"></result>
        <result column="org_id" jdbcType="VARCHAR" property="orgId"></result>
        <result column="cell_category" jdbcType="VARCHAR" property="cellCategory"></result>
        <result column="income_mode" jdbcType="VARCHAR" property="incomeMode"></result>
        <result column="total_count" jdbcType="VARCHAR" property="totalCount"></result>
        <result column="total_building" jdbcType="VARCHAR" property="totalBuilding"></result>
        <result column="afforested_area" jdbcType="VARCHAR" property="afforestedArea"></result>
        <result column="wuguan_house" jdbcType="VARCHAR" property="wuguanHouse"></result>
        <result column="instead_rate" jdbcType="VARCHAR" property="insteadRate"></result>
        <result column="collection_rate" jdbcType="VARCHAR" property="collectionRate"></result>
        <result column="receiving_date" jdbcType="VARCHAR" property="receivingDate"></result>
        <result column="first_hand_date" jdbcType="VARCHAR" property="firstHandDate"></result>
        <result column="committee_filing_date" jdbcType="VARCHAR" property="committeeFilingDate"></result>
        <result column="street_address" jdbcType="VARCHAR" property="streetAddress"></result>
        <result column="detailed_address" jdbcType="VARCHAR" property="detailedAddress"></result>
        <result column="taxpayer_identify_number" jdbcType="VARCHAR" property="taxpayerIdentifyNumber"></result>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"></result>
        <result column="telphone" jdbcType="VARCHAR" property="telphone"></result>
        <result column="bank_account_name" jdbcType="VARCHAR" property="bankAccountName"></result>
        <result column="bank_account" jdbcType="VARCHAR" property="bankAccount"></result>
        <result column="bank" jdbcType="VARCHAR" property="bank"></result>
        <result column="service_center" jdbcType="VARCHAR" property="serviceCenter"></result>
        <result column="service_bank" jdbcType="VARCHAR" property="serviceBank"></result>
        <result column="service_bank_account" jdbcType="VARCHAR" property="serviceBankAccount"></result>
        <result column="service_telphone" jdbcType="VARCHAR" property="serviceTelphone"></result>
        <result column="faxes" jdbcType="VARCHAR" property="faxes"></result>
        <result column="remark" jdbcType="VARCHAR" property="remark"></result>
        <result column="enabled_computer" jdbcType="VARCHAR" property="enabledComputer"></result>
        <result column="creation_date" jdbcType="VARCHAR" property="creationDate"></result>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"></result>
        <result column="updation_date" jdbcType="VARCHAR" property="updationDate"></result>
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy"></result>
        <result column="row_version" jdbcType="VARCHAR" property="rowVersion"></result>
        <result column="is_deleted" jdbcType="VARCHAR" property="isDeleted"></result>
        <result column="enabled_flag" jdbcType="VARCHAR" property="enabledFlag"></result>
        <result column="address" jdbcType="VARCHAR" property="address"></result>
    </resultMap>

    <resultMap id="hours" type="com.hypersmart.usercenter.model.House">
        <id jdbcType="VARCHAR" property="id" column="id"></id>
        <result column="sf_guid" jdbcType="VARCHAR" property="sfGuid"></result>
        <result column="sap_id" jdbcType="VARCHAR" property="sapId"></result>
        <result column="wbs_code" jdbcType="VARCHAR" property="wbsCode"></result>
        <result column="house_code" jdbcType="VARCHAR" property="houseCode"></result>
        <result column="house_inner_name" jdbcType="VARCHAR" property="houseInnerName"></result>
        <result column="is_invented" jdbcType="VARCHAR" property="isInvented"></result>
        <result column="floor" jdbcType="VARCHAR" property="floor"></result>
        <result column="house_state" jdbcType="VARCHAR" property="houseState"></result>
        <result column="property_type" jdbcType="VARCHAR" property="propertyType"></result>
        <result column="actual_address" jdbcType="VARCHAR" property="actualAddress"></result>
        <result column="measured_area" jdbcType="VARCHAR" property="measuredArea"></result>
        <result column="predicted_area" jdbcType="VARCHAR" property="predictedArea"></result>
        <result column="building_area" jdbcType="VARCHAR" property="buildingArea"></result>
        <result column="fee_area" jdbcType="VARCHAR" property="feeArea"></result>
        <result column="used_area" jdbcType="VARCHAR" property="usedArea"></result>
        <result column="total_arrearage" jdbcType="VARCHAR" property="totalArrearage"></result>
        <result column="start_date" jdbcType="VARCHAR" property="startDate"></result>
        <result column="restore_original_date" jdbcType="VARCHAR" property="restoreOriginalDate"></result>
        <result column="remark" jdbcType="VARCHAR" property="remark"></result>
        <result column="reason" jdbcType="VARCHAR" property="reason"></result>
        <result column="unit_id" jdbcType="VARCHAR" property="unitId"></result>
        <result column="unit_code" jdbcType="VARCHAR" property="unitCode"></result>
        <result column="building_id" jdbcType="VARCHAR" property="buildingId"></result>
        <result column="divide_id" jdbcType="VARCHAR" property="divideId"></result>
        <result column="project_id" jdbcType="VARCHAR" property="projectId"></result>
        <result column="building_name" jdbcType="VARCHAR" property="buildingName"></result>
        <result column="divide_name" jdbcType="VARCHAR" property="divideName"></result>
        <result column="project_name" jdbcType="VARCHAR" property="projectName"></result>
        <result column="contract_id" jdbcType="VARCHAR" property="contractId"></result>
        <result column="contract_flag" jdbcType="VARCHAR" property="contractFlag"></result>
        <result column="corp_id" jdbcType="VARCHAR" property="corpId"></result>
        <result column="creation_date" jdbcType="VARCHAR" property="creationDate"></result>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"></result>
        <result column="updation_date" jdbcType="VARCHAR" property="updationDate"></result>
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy"></result>
        <result column="row_version" jdbcType="VARCHAR" property="rowVersion"></result>
        <result column="updation_date" jdbcType="VARCHAR" property="updationDate"></result>
        <result column="is_deleted" jdbcType="VARCHAR" property="isDeleted"></result>
        <result column="enabled_flag" jdbcType="VARCHAR" property="enabledFlag"></result>
        <result column="divide_code" jdbcType="VARCHAR" property="divideCode"></result>
        <result column="plat_divide_id" jdbcType="VARCHAR" property="platDivideId"></result>
        <result column="plat_divide_name" jdbcType="VARCHAR" property="platDivideName"></result>
        <result column="project_code" jdbcType="VARCHAR" property="projectCode"></result>
        <result column="plat_project_id" jdbcType="VARCHAR" property="platProjectId"></result>
        <result column="plat_project_name" jdbcType="VARCHAR" property="platProjectName"></result>

    </resultMap>


    <sql id="BaseAttribute">
        ID_,ORG_ID_,USER_ID_
    </sql>
    <sql id="BaseTable">
        uc_org_user
    </sql>

    <select id="getUserOrg" resultMap="UcOrgUser">
        select
        <include refid="BaseAttribute"/>
        from
        <include refid="BaseTable"/>
        where USER_ID_ = #{userId}
        and  IS_DELE_ = 0
    </select>

    <!--<select id="getUserIdOrgByOrgIds" resultMap="java.lang.String">-->
        <!--select-->
        <!--ID_-->
        <!--from-->
        <!--<include refid="BaseTable"/>-->
        <!--where IS_DELE_ = 0 AND ORG_ID_  in  #{userId}-->
        <!--<foreach collection="list" index="index" item="item" open="(" separator="," close=")">-->
                <!--#{item}-->
        <!--</foreach>-->
    <!--</select>-->

    <select id="getPostIdByjobCode" resultType="java.lang.String">
        select p.ID_
        from uc_org_post p
        join  uc_org_job j on p.JOB_ID_ = j.ID_
        where j.CODE_ = #{code}
    </select>

    <!--查询用户默认维度组织-->
    <select id="getUserDefaultOrg" resultMap="UcOrgUser">
         select
        u.ID_, u.ORG_ID_,u.USER_ID_
        from uc_org_user u
        INNER JOIN  uc_org o on u.ORG_ID_=o.ID_
				INNER JOIN uc_demension d on d.ID_=o.DEM_ID_
        where u.USER_ID_ =#{userId} and d.IS_DEFAULT_=1
        and  u.IS_DELE_ !=1 and o.IS_DELE_ !=1 and d.IS_DELE_!=1
    </select>

    <!--查询用户非默认维度组织且层级为地块，项目的关联默认组织-->
    <select id="getUserDefaultOrgByRef" resultMap="UcOrgUser">
      select distinct
        o.REF_ID_ as ORG_ID_ ,u.USER_ID_
        from uc_org_user u
        INNER JOIN  uc_org o on u.ORG_ID_=o.ID_
				INNER JOIN uc_demension d on d.ID_=o.DEM_ID_
        where u.USER_ID_ =#{userId} and d.IS_DEFAULT_!=1 and (o.GRADE_='LINE_DIKUAI' || o.GRADE_='LINE_PROJECT' )
        and  u.IS_DELE_ !=1 and o.IS_DELE_ !=1 and d.IS_DELE_!=1

    </select>

    <select id="getOrgByCondition" resultType="java.util.Map">
        select * from uc_org
        <where>
            IS_DELE_='0' and PATH_ LIKE CONCAT('%', #{sy}, '%')
            <if test="whereSql">
                and ${whereSql}
            </if>
            <if test="orderSql">
                order by ${orderSql}
            </if>
        </where>
    </select>

    <select id="getListByOrgIdUserId" resultType="com.hypersmart.usercenter.model.UcOrgUser">
        select 	ID_ as id, ORG_ID_ as orgId, USER_ID_ as userId, IS_MASTER_ as isMaster, POS_ID_ as posId,
        IS_CHARGE_ as isCharge, START_DATE_ as startDate, END_DATE_ as endDate,
        IS_REL_ACTIVE_ as isRelActive, UPDATE_TIME_ as updateTime, IS_DELE_, VERSION_ as version
        from uc_org_user
        <where>
            IS_DELE_='0'
            <if test="orgId!=null and orgId!=''">
                AND ORG_ID_=#{orgId}
            </if>
            <if test="userId!=null and userId!=''">
                and USER_ID_=#{userId}
            </if>
        </where>
    </select>


    <select id="findDivide" resultMap="DivideId">
        select o.* from uc_org_params p
        INNER JOIN uc_org o on p.ORG_ID_=o.ID_
        <where>
             o.IS_DELE_!=1  and p.CODE_='cwsfxtzh'
            <if test="whereSql!=null">
                ${whereSql}
            </if>
        </where>
    </select>

    <select id="findHous" resultMap="hours">
         select * from  <![CDATA[ `resource-center`.house_bak ]]>
        <where>
            <if test="whereSql!=null">
                ${whereSql}
            </if>
        </where>
    </select>

</mapper>
