<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hypersmart.usercenter.mapper.UcOrgPostMapper">
    <select id="getJobPage" resultType="java.util.Map">
        select * from uc_org_job t1
join uc_org_post t2  on  t1.ID_=t2.JOB_ID_
        <where>
            <if test="whereSql">
                ${whereSql}
            </if>
            <if test="orderSql">
                order by ${orderSql}
            </if>
        </where>
    </select>
</mapper>