<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hypersmart.usercenter.mapper.UcUserMapper">
    <resultMap id="baseMap" type="com.hypersmart.usercenter.model.UcUser">
        <id property="id" jdbcType="VARCHAR" column="ID_"></id>
        <result column="FULLNAME_" jdbcType="VARCHAR" property="fullname"></result>
        <result column="ACCOUNT_" jdbcType="VARCHAR" property="account"></result>
        <result column="PASSWORD_" jdbcType="VARCHAR" property="password"></result>
        <result column="EMAIL_" jdbcType="VARCHAR" property="email"></result>
        <result column="MOBILE_" jdbcType="VARCHAR" property="mobile"></result>
        <result column="ADDRESS_" jdbcType="VARCHAR" property="address"></result>
        <result column="SEX_" jdbcType="VARCHAR" property="sex"></result>
        <result column="PHOTO_" jdbcType="VARCHAR" property="photo"></result>
        <result column="STATUS_" jdbcType="INTEGER" property="status"></result>
        <result column="ID_CARD_" jdbcType="VARCHAR" property="idCard"></result>
        <result column="BIRTHDAY_" jdbcType="DATE" property="birthday"></result>
        <result column="EDUCATION_" jdbcType="VARCHAR" property="education"></result>
    </resultMap>

    <select id="quertListFive" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * from (
        select
        u.ID_ AS houseKeeperId,
        uou.ID_ AS id,
        u.FULLNAME_ AS fullName,
        u.MOBILE_ AS mobile,
        u.ACCOUNT_ AS account,
        post.ID_ AS `postId`,
        post.POST_KEY_ AS `postKey`,
        post.POS_NAME_ AS posName,
        org_lv5.NAME_ AS corpName,
        org_lv4.NAME_ AS areaName,
        org_lv3.NAME_ AS cityName,
        org_lv2.NAME_ AS projectName,
        org.NAME_ AS divideName,
        org_lv5.ID_ AS corpId,
        org_lv4.ID_ AS areaId,
        org_lv3.ID_ AS cityId,
        org_lv2.ID_ AS projectId,
        org.ID_ AS divideId
        from uc_user u
        join uc_org_user uou on u.ID_ = uou.USER_ID_
        join uc_org org on uou.ORG_ID_ = org.ID_
        join uc_org org_lv2 on org.PARENT_ID_ = org_lv2.ID_
        join uc_org org_lv3 on org_lv2.PARENT_ID_ = org_lv3.ID_
        join uc_org org_lv4 on org_lv3.PARENT_ID_ = org_lv4.ID_
        join uc_org org_lv5 on org_lv4.PARENT_ID_ = org_lv5.ID_
        join uc_org_post post on uou.POS_ID_ =  post.ID_
        join uc_org_job uoj on post.JOB_ID_ = uoj.ID_
        join uc_demension dem on
        org.DEM_ID_ = dem.ID_ and  org_lv2.DEM_ID_ = dem.ID_ and  org_lv3.DEM_ID_ = dem.ID_
        and  org_lv4.DEM_ID_ = dem.ID_ and org_lv5.DEM_ID_ = dem.ID_
        where uoj.CODE_ = 'guanjia' and dem.CODE_ = 'smsf' and org.GRADE_ = 'ORG_DiKuai'
        and u.IS_DELE_ = 0
        and uou.IS_DELE_ = 0
        and org.IS_DELE_ = 0
        and org_lv2.IS_DELE_ = 0
        and org_lv3.IS_DELE_ = 0
        and org_lv4.IS_DELE_ = 0
        and org_lv5.IS_DELE_ = 0
        and post.IS_DELE_ = 0
        and uoj.IS_DELE_ = 0
        and dem.IS_DELE_ = 0
        ) a
        <where>
            <if test="whereSql!=null">
                ${whereSql}
            </if>
        </where>
        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
    </select>

    <select id="quertListFour" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * from (
        select
        u.ID_ AS houseKeeperId,
        uou.ID_ AS id,
        u.FULLNAME_ AS fullName,
        u.MOBILE_ AS mobile,
        u.ACCOUNT_ AS account,
        post.ID_ AS `postId`,
        post.POS_NAME_ AS posName,
        org_lv4.NAME_ AS corpName,
        org_lv3.NAME_ AS areaName,
        org_lv2.NAME_ AS projectName,
        org.NAME_ AS divideName,
        org_lv4.ID_ AS corpId,
        org_lv3.ID_ AS cityId,
        org_lv2.ID_ AS projectId,
        org.ID_ AS divideId
        from uc_user u
        join uc_org_user uou on u.ID_ = uou.USER_ID_
        join uc_org org on uou.ORG_ID_ = org.ID_
        join uc_org org_lv2 on org.PARENT_ID_ = org_lv2.ID_
        join uc_org org_lv3 on org_lv2.PARENT_ID_ = org_lv3.ID_
        join uc_org org_lv4 on org_lv3.PARENT_ID_ = org_lv4.ID_
        join uc_org_post post on uou.POS_ID_ =  post.ID_
        join uc_org_job uoj on post.JOB_ID_ = uoj.ID_
        join uc_demension dem on
        org.DEM_ID_ = dem.ID_ and  org_lv2.DEM_ID_ = dem.ID_ and  org_lv3.DEM_ID_ = dem.ID_
        and  org_lv4.DEM_ID_ = dem.ID_
        where uoj.CODE_ = 'guanjia' and dem.CODE_ = 'smsf' and org.GRADE_ = 'ORG_DiKuai') a
        <where>
            <if test="whereSql!=null">
                ${whereSql}
            </if>
        </where>
        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
    </select>

    <select id="quertListThree" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * from (
        select
        u.ID_ AS houseKeeperId,
        uou.ID_ AS id,
        u.FULLNAME_ AS fullName,
        u.MOBILE_ AS mobile,
        u.ACCOUNT_ AS account,
        post.ID_ AS `postId`,
        post.POST_KEY_ AS `postKey`,
        post.POS_NAME_ AS posName,
        org_lv5.NAME_ AS corpName,
        org_lv4.NAME_ AS areaName,
        org.NAME_ AS divideName,
        org_lv5.ID_ AS corpId,
        org_lv4.ID_ AS areaId,
        org.ID_ AS divideId
        from uc_user u
        join uc_org_user uou on u.ID_ = uou.USER_ID_
        join uc_org org on uou.ORG_ID_ = org.ID_
        join uc_org org_lv4 on org.PARENT_ID_ = org_lv4.ID_
        join uc_org org_lv5 on org_lv4.PARENT_ID_ = org_lv5.ID_
        join uc_org_post post on uou.POS_ID_ =  post.ID_
        join uc_org_job uoj on post.JOB_ID_ = uoj.ID_
        join uc_demension dem on
        org.DEM_ID_ = dem.ID_
        and  org_lv4.DEM_ID_ = dem.ID_ and org_lv5.DEM_ID_ = dem.ID_
        where uoj.CODE_ = 'guanjia' and dem.CODE_ = 'smsf' and org.GRADE_ = 'ORG_DiKuai'
        and u.IS_DELE_ = 0
        and uou.IS_DELE_ = 0
        and org.IS_DELE_ = 0
        and org_lv4.IS_DELE_ = 0
        and org_lv5.IS_DELE_ = 0
        and post.IS_DELE_ = 0
        and uoj.IS_DELE_ = 0
        and dem.IS_DELE_ = 0
        ) a
        <where>
            <if test="whereSql!=null">
                ${whereSql}
            </if>
        </where>
        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
    </select>

    <select id="quertListTwo" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * from (
        select
        u.ID_ AS houseKeeperId,
        uou.ID_ AS id,
        u.FULLNAME_ AS fullName,
        u.MOBILE_ AS mobile,
        u.ACCOUNT_ AS account,
        post.ID_ AS `postId`,
        post.POS_NAME_ AS posName,
        org_lv2.NAME_ AS corpName,
        org.NAME_ AS divideName,
        org_lv2.ID_ AS corpId,
        org.ID_ AS divideId
        from uc_user u
        join uc_org_user uou on u.ID_ = uou.USER_ID_ and uou.IS_DELE_ = 0
        join uc_org org on uou.ORG_ID_ = org.ID_ and org.IS_DELE_ = 0
        join uc_org org_lv2 on org.PARENT_ID_ = org_lv2.ID_ and org_lv2.IS_DELE_ = 0
        join uc_org_post post on uou.POS_ID_ =  post.ID_ and post.IS_DELE_ = 0
        join uc_org_job uoj on post.JOB_ID_ = uoj.ID_ and uoj.IS_DELE_ = 0
        join uc_demension dem on
        org.DEM_ID_ = dem.ID_ and  org_lv2.DEM_ID_ = dem.ID_
        where uoj.CODE_ = 'guanjia' and dem.CODE_ = 'smsf' and org.GRADE_ = 'ORG_DiKuai') a
        <where>
            <if test="whereSql!=null">
                ${whereSql}
            </if>
        </where>
        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
    </select>

    <select id="queryUserByOrgIdList" resultMap="baseMap">
        select distinct u.* from
        uc_user u
        INNER JOIN uc_org_user ou on u.ID_ = ou.USER_ID_
        where ou.ORG_ID_ in
        <foreach collection="ucOrgList" index="index" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
        <if test="fullname != null and fullname !=''" >
        and u.FULLNAME_ like CONCAT('%',#{fullname},'%')
        </if>
        <if test="mobile != null and mobile !=''" >
        and u.MOBILE_ like CONCAT('%',#{mobile},'%')
        </if>
    </select>

    <select id="getUserByUnitId" resultMap="baseMap">
        SELECT
            ID_,FULLNAME_
        FROM
            uc_user
        WHERE
            ID_ = (
            SELECT DISTINCT
                housekeeper_id
            FROM
                grid_basic_info info
                JOIN grid_range gr ON info.id = gr.grid_id
            WHERE
                gr.range_type = #{unitType}
            AND gr.resource_id = #{unitId}
            )
    </select>

    <select id="searchUserByCondition" resultMap="baseMap" parameterType="java.util.Map">
        select distinct u.ID_,u.FULLNAME_,u.ACCOUNT_,u.EMAIL_,u.MOBILE_,u.PHOTO_,u.STATUS_ from uc_user u
        inner join uc_org_user uorg on u.ID_ = uorg.USER_ID_ and uorg.IS_DELE_ = 0
        <if test="(jobIdList!=null and jobIdList.size > 0) || (posIdList!=null and posIdList.size > 0)">
            inner join uc_org_post uorgp on uorg.ORG_ID_ = uorgp.ORG_ID_ and uorg.POS_ID_ = uorgp.id_ and uorgp.IS_DELE_ = 0
        </if>
        <if test="(roleIdList!=null and roleIdList.size > 0)">
            inner join uc_user_role ur on u.ID_ = ur.USER_ID_ and ur.IS_DELE_ = 0
        </if>
        where u.IS_DELE_ = 0 and uorg.ORG_ID_ in
        <foreach collection="orgIdList" item="iOrgId" open="(" separator="," close=")">
            #{iOrgId}
        </foreach>
        <if test="whereSql!=null">
            and ${whereSql}
        </if>
        <if test="(jobIdList!=null and jobIdList.size) > 0">
            and uorgp.JOB_ID_ in
            <foreach collection="jobIdList" item="iJobId" open="(" separator="," close=")">
                #{iJobId}
            </foreach>
        </if>
        <if test="(posIdList!=null and posIdList.size > 0)">
            and uorgp.id_ in
            <foreach collection="posIdList" item="iPosId" open="(" separator="," close=")">
                #{iPosId}
            </foreach>
        </if>
        <if test="(roleIdList!=null and roleIdList.size > 0)">
            and ur.ROLE_ID_ in
            <foreach collection="roleIdList" item="iRoleId" open="(" separator="," close=")">
                #{iRoleId}
            </foreach>
        </if>
        order by u.id_ asc
    </select>
    <select id="serchUserJobsByUserId" resultType="java.lang.String">
        select distinct   post.POS_NAME_ from uc_user u
        JOIN uc_org_user ou on u.ID_ = ou.USER_ID_
        JOIN uc_org o on ou.ORG_ID_ = o.ID_
        JOIN uc_org_post post on post.ORG_ID_ = o.ID_
        where u.IS_DELE_ &lt;&gt; 1 and ou.IS_DELE_  &lt;&gt; 1 and post.IS_DELE_ &lt;&gt; 1
        <if test="uId!=null and uId!=''">
            AND u.ID_ = #{uId}
        </if>
        <if test="oId!=null and oId!=''">
            and o.ID_ = #{oId}
        </if>
    </select>

    <select id="getByJobCodes" resultMap="baseMap" parameterType="java.util.Map">
        select
        ID_,FULLNAME_,ACCOUNT_,PASSWORD_,EMAIL_,MOBILE_,CREATE_TIME_,ADDRESS_,PHOTO_,SEX_,FROM_,STATUS_,HAS_SYNC_TO_WX_,NOTIFY_TYPE_,USER_NUMBER_,ID_CARD_,PHONE_,
        BIRTHDAY_,ENTRY_DATE_,LEAVE_DATE_,EDUCATION_,UPDATE_TIME_,IS_DELE_,VERSION_
        from uc_user where ID_ in (
            select DISTINCT USER_ID_ from uc_org_user where POS_ID_ in(
            select a.ID_ from uc_org_post a left join uc_org_job b on a.JOB_ID_= b.ID_
            LEFT JOIN uc_org c on a.ORG_ID_ = c.ID_
            where c.IS_DELE_!=1 AND b.IS_DELE_!=1 AND a.IS_DELE_!=1
            <if test="jobCodes!=null">
                and b.CODE_ in
                <foreach collection="jobCodes" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        ) AND IS_DELE_!=1) AND IS_DELE_!=1
        <where>
            <if test="whereSql!=null">
                ${whereSql}
            </if>
        </where>
        <if test="orderBySql!=null">
            ORDER BY ${orderBySql}
        </if>
    </select>

    <select id="getByAccount" resultMap="baseMap" parameterType="java.lang.String">
        select distinct u.* from
        uc_user u
        <where>
            <if test="account!=null and account!=''">
                u.ACCOUNT_=#{account}
            </if>
        </where>
    </select>

</mapper>
